#left-side{
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state :paused;
}
.toggle-menu-level{
    position: relative;
}

.toggle-menu-level::after{
    content: '\002B';
    font-size: 18px;
    font-weight: 700;
    float: right;
    right : 0;
    position: absolute;
}

.active::after{
    content: '\2212';
}

@keyframes leftsidehide{
    0% {
        opacity: 1;
        width: 18rem;
    }
    75%{
        opacity: 1;
        width:  0.125rem;
    }
    100%{
        opacity: 0;
        width: 0rem;
    }
}

@keyframes leftsideshow{
    0% {
        opacity: 0;
        width: 0rem;
    }
    75%{
        opacity: 1;
        width: 17.9rem;
    }
    100%{
        opacity: 1;
        width: 18rem;
    }
}

@keyframes menulevelshow{
    0% {
        display: none;
        opacity: 0;
    }
    100%{
        display: block;
        opacity: 1;
    }
}